/* Añade este estilo en tu archivo CSS (por ejemplo, public/css/dashboard.css) */

/* Estilo para centrar el contenedor de la gráfica */
#chart-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra el contenedor de la gráfica horizontalmente */
}

#chartdiv {
    width: 80%; /* Ajusta el ancho de la gráfica */
    height: 400px; /* Ajusta la altura de la gráfica */
    margin: 0 auto; /* Centra la gráfica dentro del contenedor */
}

/* Estilo para el contenedor del título y botón de logout */
.dashboard-header {
    display: flex;
    position: absolute;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    top: 16px;
}

/* Estilo para el botón de logout */
.logout-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem; /* Añade margen para separarlo del borde */
}

/* Estilo para el título del dashboard */
.dashboard-title {
    flex: 1;
    text-align: center;
    margin: 0; /* Elimina márgenes adicionales */
}

/* Estilo para la descripción del dashboard */
.dashboard-grafica {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    margin-top: -200px;
    color: #666;
}

.dashboard-description {
    font-weight: bold;
    color: black;
    font-size: large;
}
