  /* Ocultar flecha en el enlace de Calzado */
  #calzadoDropdown .dropdown-toggle::after {
    display: none;
  }

  /* Subrayar enlace de Calzado al pasar el ratón  */
  #calzadoDropdown .nav-link:hover {
    text-decoration: underline;
  }

  /*Estilo para las imagenes de calzado*/
  .img-calzado .image-container-cal {
    width: 300px;
    height: 220px;
    max-width: 100%;
    margin-bottom: 10px;
    margin: 5px;
  }
  .image-container-cal img{
    width: 100%; 
    height: auto;
    object-fit:contain;
    margin-top: -15%;
  }

/* Estilos para el menú cuando el ancho de la pantalla es menor o igual a 991px */
@media only screen and (max-width: 991px) {
  /* Ocultar las imágenes en el menú */
  .calzado {
      display: none !important;
  }

  .img-calzado .image-container-cal {
      display: none !important;
  }
}

/* Asegurar que el menú se oculta al dejar de pasar el ratón */
.calzado {
  display: none;
  transition: display 0.2s ease-in-out;
}

/* Mostrar el menú al pasar el ratón por encima */
#calzadoDropdown:hover .calzado,
#calzadoDropdown:focus .calzado {
  display: inline-flex !important;
}

/* Estilo para contenedor de imagenes */
.image-container-cal {
  overflow: hidden;
}

.image-container-cal img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: -15%;
}