html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* El contenedor principal debe crecer para ocupar el espacio disponible */
.content-wrapper {
    flex: 1;
}

.footer {
    background-color: #212529; /* Oscuro */
    color: #ffffff; /* Blanco */
    width: 100%; /* Ocupa todo el ancho */
    text-align: center; /* Centra el texto */
    padding: 10px 0; /* Espacio dentro del footer */
    bottom: 0;
}

.footer h5 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer p, .footer a {
    color: #ffffff; /* Mantén los enlaces blancos para que contrasten con el fondo oscuro */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.footer a:hover {
    color: #dddddd; /* Un gris claro para el hover */
}

/* Ajustes para la responsividad y el padding */
@media (max-width: 768px) {
    .footer {
        text-align: center;
    }
}
