/* Popup */
.popup {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* Fondo semitransparente más oscuro */
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1s forwards; /* Animación de entrada */
}

.popup-content {
    background-color: #7FFF00; /* Cambiar a verde */
    border-radius: 8px; /* Hacerlo un poco más pequeño */
    padding: 10px; /* Reducir el padding */
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.close-popup {
    position: absolute;
    top: 5px; /* Ajustar la posición superior */
    right: 10px; /* Ajustar la posición derecha */
    font-size: 20px; /* Reducir el tamaño de la fuente */
    color: #333; /* Cambiar el color del icono de cierre */
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
